html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

#canvas-container {
    display: flex;
    width: 50%;
}

canvas {
    width: 50%;
    height: 100%;
}

#gpuCanvas{
    position: absolute;
    left: 0;
}

#gpuCanvas2{
    position: absolute;
    right: 0;
}
